/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@font-face {
    font-family: 'FontAwesome';
    src: url(fontawesome-webfont.eot);
    src: url(fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(af7ae505a9eed503f8b8e6982036873e.woff2) format("woff2"), url(fee66e712a8a08eef5805a46892932ad.woff) format("woff"), url(fontawesome-webfont.ttf) format("truetype"), url(fontawesome-webfont.svg#fontawesomeregular) format("svg");
    font-weight: normal;
    font-style: normal; }

i.mce-i-fa-link {
    font-size: 1.4em;
}

i.mce-i-fa-external-link:before {
    content: "\F08E";
    font-family: FontAwesome;
}

.pda-link-to-wp-file-selected {
    word-wrap: break-word;
}
